<label for="university">Name</label>
<input type="text" name="university" id="university value="<%= intern.university %>">
<label for="count">Count</label>
<input type="text" name="count" id="count" value="<%= intern.count %>">
<button type="submit">Submit</button>