<label for="name">Name</label>
<input type="text" name="name" id="name" value="<%= intern.name %>">
<label for="points">Points</label>
<input type="text" name="points" id="points" value="<%= intern.points %>">
<button type="submit">Submit</button>