<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume HRC</title>
    <style>
        input {
            margin: 10px;
            padding: 10px;
            border: 1px solid #444;
            border-radius: 6px;
            max-width: 400px;
            min-width: 200px;
            background: #4441;
            box-shadow: 0 10px 10px #4444;

        }
    </style>
</head>
<body>
    This will be send to those after confirmation of the number of interns from each college to be hired.
    <h1>Resume</h1>
    <form action="/resume/submit" method="post" style="display: flex; flex-direction: column;">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="phone">phone</label>
        <input type="tel" name="phone" id="phone" required>
        <label for="college">College</label>
        <input type="text" name="college" id="college" required>
        <label for="year">year</label>
        <input type="text" name="year" id="year" required>
        <label for="degree">degree</label>
        <input type="text" name="degree" id="degree" required>
        <label for="gpa">GPA</label>
        <input type="text" name="gpa" id="gpa" required>
        <label for="cr">Criminal Record</label>
        <select type="text" name="cr" id="cr" required>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
        <label for="resume">Resume</label>
        <input type="textarea" name="resume" id="resume" required>
        <input type="submit" value="Submit" style="cursor: pointer;">
    </form>
</body>
</html>