<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Provide Counts</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Provide Counts</h1>
    <form action="/provide-counts/add/" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="points">Points</label>
        <input type="text" name="points" id="points">
        <button type="submit">Submit</button>
    </form>
</body>
</html>