<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all Resumes</title>
</head>
<body>
    <h1>Show All The Resumes</h1>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="margin-top: 10px">
                    <div class="data_box" style="margin: 10px; border: 1px solid #444; width: fit-content; padding: 10px; border-radius: 6px; max-width: 400px; min-width: 200px; background: #4441; box-shadow: 0 10px 10px #4444;">
                        <div>
                            <h3>University Name</h3>
                        </div>
                        <div>
                            Counts
                        </div>
                        <div>
                            <form action='' method="post">
                                <input type="hidden" value='jio' name="id">
                                <button type="submit">Show all Information</button>
                            </form>
                            
                        </div>
                    </div>
            </div>
</body>
</html>