<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Statistics Of Data</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Statistics Of the Data</h1>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <% intern.forEach(intern_ => {%>
            <div style="margin-top: 10px">
                    <div class="data_box" style="margin: 10px; border: 1px solid #444; width: fit-content; padding: 10px; border-radius: 6px; max-width: 400px; min-width: 200px; background: #4441; box-shadow: 0 10px 10px #4444;">
                        <div>
                            <h3><%= intern_.university %></h3>
                        </div>
                        <div>
                            <%= intern_.count %>
                        </div>
                        <div>
                            <form action='/show-stats/delete/' method="post">
                                <input type="hidden" value='<%= intern_._id %>' name="id">
                                <button type="submit">Delete</button>
                            </form>
                            
                        </div>
                    </div>
            </div>
        <% }) %>
    </div>
</body>
</html>