<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Statistics Of Data (<%= intern.name %>)</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <!-- <script src='main.js'></script> -->
</head>
<body>
    <h1>Statistics Of the intern <%= intern.name %></h1>
    <h2>His data</h2>
    <p><%= intern.name %> has scored <%= intern.points %></p>
    
</body>
</html>